#root {
  text-align: center;
  width: 100%;
  height: 100%;
}

.Nav {
  position: absolute;
}

.App {
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .App {
    width: 80%;
    top: 25%;
    left: 10%;
  }

  .Nav {
    width: 80%;
    top: 5%;
    left: 10%;
  }
}

@media only screen and (min-width: 600px) {
  .App {
    width: 70%;
    top: 30%;
    left: 15%;
  }

  .Nav {
    width: 80%;
    top: 5%;
    left: 10%;
  }
}

@media only screen and (min-width: 992px) {
  .App {
    width: 50%;
    top: 30%;
    left: 25%;
  }

  .Nav {
    width: 80%;
    top: 5%;
    left: 10%;
  }
}

@media only screen and (min-width: 1200px) {
  .App {
    width: 40%;
    top: 30%;
    left: 30%;
  }

  .Nav {
    width: 80%;
    top: 5%;
    left: 10%;
  }
}
